@import "varibles";
@import "mixin";
html,
body {
  height: 100%;
  min-height: 100%;
  position: relative;
  font-size: @base_font;
}
div.col-md-6 { // перекомпилировать less
  margin: 0;
  padding: 0;
}
.absolute {
 	position: absolute;
}