@import 'varibles';
@import 'mixings';

@font-face {
	font-family: din_cond;
	src: url('../fonts/PT_DIN_Condensed_Cyrillic.ttf');
}
@font-face {
	font-family: refrigerator;
	src: url('../fonts/pfdintextcomppro-bold.otf');
}
@font-face {
	font-family: din_reg;
	src: url('../fonts/pfdintextcomppro-regular.ttf');
}
@font-face {
	font-family: din_medium;
	src: url('../fonts/pfdintextcomppro-medium.ttf');
}

html {
	height: 100%;
}
body {
	position: relative;
	height: 100%;
	font-family: @font_regular;
	color: @white;
}
h1 {
	font-size: @h1_size;
}
h2 {
	font-size: @h2_size;
}
h1,
h2{
	font-family: @font_medium;
}
h3,h4,h5 {
	font-family: @font_medium;
}
a, p, span, li {
	color: @black;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}

.list_inline {
	li {
		display: inline-block;
	}
}
.up {
	text-transform: uppercase;
}
// base style
a {
	.link_hover();
}
.img_responsive {
	max-width: 100%;
	height: auto;
}
.img_wrapper {
	overflow-y: hidden;
	height: 100%;
	display: block;
	img {
		width: 100%;
		height: auto;
		min-height: 100%;
	}
}
.gray_img {
	.grayscale_hover();
}
