@import "varibles";
@import "mixings";
@import "base";

.carousel_wrapper {
  width: 100%;
  overflow: hidden;
  ul {
    width: 9999px;
    li {
      img {
        display: inline-block;
      }
    }
  }
}
