@import "varibles";

// prefix mixings
.transform(@property) {
  transform: @property;
  -ms-transform: @property;
  -webkin-transform: @property;
  -o-transform: @property;
  -moz-transform: @property;
}
.animation(@property) {
  animation: @property;
  -webkit-animation: @property;
  -moz-animation: @property;
  -o-animation: @property;
}
.transition_fast(@what: all, @time: 0.2s) {
  -webkit-transition: @what @time;
  -moz-transition: @what @time;
  -ms-transition: @what @time;
  -o-transition: @what @time;
  transition: @what @time;
}
.transition_medium(@what: all, @time: 0.4s) {
  -webkit-transition: @what @time;
  -moz-transition: @what @time;
  -ms-transition: @what @time;
  -o-transition: @what @time;
  transition: @what @time;
}
.filter(@properties) {
-webkit-filter: @properties;
filter: @properties;
}

// prefix mixings
.align(@align: center) {
  text-align: @align;
}
.margin_align() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
// decor
// hover
.link_hover(@color: @base_color) {
  .transition_fast();
  &:hover {
    color: @color;
    text-decoration: none;
  }
}
.grayscale_hover() {
  .transition_medium();
  .filter(grayscale(100%));
  &:hover {
    .filter(none);
  }
}
//hover
