// colors
@preloader_background: rgba(18, 17, 17, .4);
@sidebar_color: #1a1919;
@black: #000000;
@white: #ffffff;
// colors


// fonts
@font_regular: 'din_reg';
@nav_font: 'din_cont';
@font_medium: 'din_medium';
@font_bold: 'refrigerator';

// fonts


// size

@nav_font_size: 23px;
// size


